<div>
  <%= @project.name %>
</div>
<div>
  <%= @project.description %>
</div>
<div>
  <%= image_tag @project.image.url(:main) %>
</div>
<div>
  Goal = <%= @project.goal %>
</div>
<div>
  Raised = <%= @project.raised %>
</div>
<div>
  <%= @project.deadline %>
</div>
<div>
  <%= @project.body %>
</div>
<% if !@project.videos.blank? %>
  <% for video in @project.videos %>
    <div>
      <%= raw(video.url) %>
    </div>
    <div>
      Uploaded by <%= video.user.email %>
    </div>
    <div>
      <% if video.user == current_user %>
        <%= link_to "Edit Video", edit_project_video_path(@project,video) %>
        <%= link_to "Delete Video", project_video_path(@project,video), :method => 'delete' %>
      <% end %>
      <% if current_user.voted_videos.include?(video) %>
        <% vote = video.votes.where(:user => current_user).first %>
        <%= link_to "Remove Vote", project_video_vote_path(@project, video, vote), :method => :delete %>
      <% else %>
        <%= link_to "Upvote", project_video_votes_path(@project, video), :method => :post %>
      <% end %>
    </div>
    <div>
      Votes : <%= video.votes.count %>
    </div>
  <% end %>
<% else %>

<% end %>
<% if user_signed_in? %>
  <%= render :partial => "new_pledge" %>
  <%= link_to "Add Video", new_project_video_path(@project) %>
<% end %>
<% if @project.user == current_user %>
  <%= link_to "Edit Pitch", edit_project_path(@project) %>
  <%= link_to "Create Event", new_project_event_path(@project) %>
<% end %>
<%= link_to "All Events", project_events_path(@project) %>
<%= link_to "Back", :back %>
